name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.13.7
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.7'


      - name: Install dependencies
        run: python -m pip install --upgrade pip

      - name: Run tests
        run: python -m unittest discover -s . -p "test_*.py"
        
